<% var data = {
  title: "Каталог | Карвинг",
  author: ""
}; %>
<%= _.template(require('../includes/head.html').default)(data) %>
<%= _.template(require('../includes/header.html').default)(data) %>
  <div class="page">
    <div class="pageheader">
      <div class="container">
        <div class="pageheader_catalog">
          <div class="pageheading">
            <div class="breadcrumbs">
              <ul>
                <li><a href=""><span>Главная</span></a></li>
                <li><span>Каталог спецтехники</span></li>
              </ul>
            </div><!-- /.breadcrumbs -->
            <h1>Каталог спецтехники</h1>
          </div><!-- /.pageheading -->
          <div class="catalogcards">
            <div class="catalogcards__items">
              <div class="catalogcards__item">
                <div class="catalogcard">
                  <div class="catalogcard__wrapper">
                    <div class="catalogcard__header">
                      <div class="catalogcard__title">Бортовые с КМУ</div>
                      <div class="catalogcard__info">В наличии: 25</div>
                    </div>
                    <div class="catalogcard__image"><img src="./images/card1.jpg" alt=""></div>
                    <a href="#" class="catalogcard__link">
                      <img src="./img/card-arrow.svg" alt="">
                      <span>Смотреть авто</span>
                    </a><!-- /.catalogcard__link -->
                  </div><!-- /.catalogcard__wrapper -->
                </div><!-- /.catalogcard -->
              </div><!-- /.catalogcards__item -->
              
              <div class="catalogcards__item">
                <div class="catalogcard">
                  <div class="catalogcard__wrapper">
                    <div class="catalogcard__header">
                      <div class="catalogcard__title">Металловозы с КМУ</div>
                      <div class="catalogcard__info">В наличии: 25</div>
                    </div>
                    <div class="catalogcard__image"><img src="./images/card1.jpg" alt=""></div>
                    <a href="#" class="catalogcard__link">
                      <img src="./img/card-arrow.svg" alt="">
                      <span>Смотреть авто</span>
                    </a><!-- /.catalogcard__link -->
                  </div><!-- /.catalogcard__wrapper -->
                </div><!-- /.catalogcard -->
              </div><!-- /.catalogcards__item -->
              <div class="catalogcards__item">
                <div class="catalogcard">
                  <div class="catalogcard__wrapper">
                    <div class="catalogcard__header">
                      <div class="catalogcard__title">Тягач с КМУ</div>
                      <div class="catalogcard__info">В наличии: 25</div>
                    </div>
                    <div class="catalogcard__image"><img src="./images/card1.jpg" alt=""></div>
                    <a href="#" class="catalogcard__link">
                      <img src="./img/card-arrow.svg" alt="">
                      <span>Смотреть авто</span>
                    </a><!-- /.catalogcard__link -->
                  </div><!-- /.catalogcard__wrapper -->
                </div><!-- /.catalogcard -->
              </div><!-- /.catalogcards__item -->

            </div><!-- /.catalogcards__items -->
          </div><!-- /.catalogcards -->
        </div><!-- /.pageheader_catalog -->
      </div><!-- /.container -->
    </div><!-- /.pageheader pageheader_catalog -->
  </div><!-- /.page -->
<%= _.template(require('../includes/footer.html').default)(data) %>