<% var data = {
  title: "Каталог | Карвинг",
  author: ""
}; %>
<%= _.template(require('../includes/head.html').default)(data) %>
<%= _.template(require('../includes/header.html').default)(data) %>
<div class="page">
  <div class="layout layout_half">
    <section class="layout_left">
      <div class="productimg">
        <div class="productimg_container">
          <div class="productimg__images">
            <div class="productimg__img productimg__img_desktop productimg__img_video">
              <!--  <video muted="" loop="" playsinline=""  controls="" src="/video.mp4" class="video-player__video"></video> -->
              <!-- или youtube -->
              <iframe src="https://www.youtube.com/embed/XIMLoLxmTDw" title="" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
            <div class="productimg__img productimg__img_desktop">
              <img src="./images/product.jpg" alt="" class="img_block">
            </div>
            <div class="productimg__img productimg__img_desktop">
              <img src="./images/product.jpg" alt="" class="img_block">
            </div>
            <div class="productimg__img productimg__img_desktop">
              <img src="./images/product.jpg" alt="" class="img_block">
            </div>
            <div class="productimg__img productimg__img_desktop">
              <img src="./images/product.jpg" alt="" class="img_block">
            </div>
            <div class="productimg__img productimg__img_desktop">
              <img src="./images/product.jpg" alt="" class="img_block">
            </div>

          </div>
          <div class="productimg__previewscontainer">
            <div class="productimg__previews">
              <div class="productimg__preview productimg__preview_video">
                <div class="productimg__previewvideo">
                  <img src="./images/product.jpg" alt="" class="img_block">
                  <span>
                    Видео
                  </span>
                </div>
              </div>
              <div class="productimg__preview">
                <div class="productimg__thumb">
                  <img src="./images/product.jpg" alt="" class="img_block">
                </div>
              </div>
              <div class="productimg__preview">
                <div class="productimg__thumb">
                  <img src="./images/product.jpg" alt="" class="img_block">
                </div>
              </div>
              <div class="productimg__preview">
                <div class="productimg__thumb">
                  <img src="./images/product.jpg" alt="" class="img_block">
                </div>
              </div>
              <div class="productimg__preview">
                <div class="productimg__thumb">
                  <img src="./images/product.jpg" alt="" class="img_block">
                </div>
              </div>
              <div class="productimg__preview">
                <div class="productimg__thumb">
                  <img src="./images/product.jpg" alt="" class="img_block">
                </div>
              </div>

            </div>
            <div class="productimg__arrows">
              <div class="productimg__arrow productimg__arrow_left"><img src="./img/product-left.svg" alt=""></div>
              <div class="productimg__arrow productimg__arrow_right"><img src="./img/product-right.svg" alt=""></div>
            </div>
          </div>
        </div>
      </div>
      <div class="producttext">
        <div class="producttabs js-tabs">
          <div class="producttabs__header js-tabs-header">
            <ul>
              <li class="active">Описание</li>
              <li>Характерcтики </li>
              <li>Условия оплаты</li>
            </ul>
          </div><!-- /.producttabs__header -->
          <div class="producttabs__main">
            <div class="producttabs__content active js-tabs-contents">
              <div class="description detailtext">
                <h3>Особенности автокрана «Клинцы»</h3>
                <p>Представленные модели, разработанные на базе шасси КамАЗ, обладают трехсекционной стрелой длиной 8-18
                  метров. Благодаря гидравлическим выносным опорам, имеющим выдвижные опорные балки, производителю
                  модели «Клинцы» удалось увеличить грузоподъемность крана до 16 тонн. За безопасность выполнения работ
                  отвечают современные приборы и устройства, а также микропроцессорный ограничитель нагрузки. Системы
                  имеют цифровую индикацию, которая отображает на дисплее актуальную информацию о состоянии спецтехники
                  «Клинцы» КС-35719-1-02. Датчики позволяют обезопасить весь процесс работы:</p>
                <h3>Особенности:</h3>
                <ul>
                  <li>Представленные модели, разработанные на базе шасси КамАЗ</li>
                  <li>Благодаря гидравлическим выносным опорам, имеющим выдвижные</li>
                  <li>За безопасность выполнения работ отвечают современные приборы и устройства, а также
                    микропроцессорный ограничитель нагрузки.</li>
                </ul>
              </div>
            </div><!-- /.producttabs__content -->
            <div class="producttabs__content js-tabs-contents">
              <div class="description detailtext">
                <h3>Особенности автокрана «Клинцы»</h3>
                <p>Представленные модели, разработанные на базе шасси КамАЗ, обладают трехсекционной стрелой длиной 8-18
                  метров. Благодаря гидравлическим выносным опорам, имеющим выдвижные опорные балки, производителю
                  модели «Клинцы» удалось увеличить грузоподъемность крана до 16 тонн. За безопасность выполнения работ
                  отвечают современные приборы и устройства, а также микропроцессорный ограничитель нагрузки. Системы
                  имеют цифровую индикацию, которая отображает на дисплее актуальную информацию о состоянии спецтехники
                  «Клинцы» КС-35719-1-02. Датчики позволяют обезопасить весь процесс работы:</p>

              </div>
            </div><!-- /.producttabs__content -->
            <div class="producttabs__content js-tabs-contents">
              <div class="description detailtext">

                <h3>Особенности:</h3>
                <ul>
                  <li>Представленные модели, разработанные на базе шасси КамАЗ</li>
                  <li>Благодаря гидравлическим выносным опорам, имеющим выдвижные</li>
                  <li>За безопасность выполнения работ отвечают современные приборы и устройства, а также
                    микропроцессорный ограничитель нагрузки.</li>
                </ul>
              </div>
            </div><!-- /.producttabs__content -->
          </div><!-- /.producttabs__main -->
        </div><!-- /.producttabs -->
      </div><!-- /.productmain -->
    </section>

    <section class="layout_right">
      <div class="pageheader__content">
        <div class="pageheading">
          <div class="breadcrumbs">
            <ul>
              <li><a href=""><span>Главная</span></a></li>
              <li><a href=""><span>Бортовые с КМУ</span></a></li>
              <li><span>Бортовой КАМАЗ 43118-76 с КМУ DongYang SS 1956</span></li>
            </ul>
          </div>
          <h1>Бортовой КАМАЗ 43118-76 с КМУ DongYang SS 1956</h1>
        </div>
      </div>
      <div class="productinfo">
        <div class="productinfo__id"><span><b>id 1684</b></span></div>
        <div class="productinfo__city"><a href="">в Набережных Челнах</a></div>
      </div><!-- /.productinfo -->
      <div class="productbuttons">
        <a href="" class="btn_primary">Запросить цену (КП)</a>
        <a href="" class="btn_border">Оформить заказ</a>
      </div>
      <div class="productparams">
        <div class="productcard__params">
          <div class="productcard__param">
            <div class="productcard__paramleft">Модель шасси</div>
            <div class="productcard__paramright">КАМАЗ-43118-RR</div>
          </div>
          <div class="productcard__param">
            <div class="productcard__paramleft">Модель дв.</div>
            <div class="productcard__paramright">ISL340 50 (E-5)</div>
          </div>
          <div class="productcard__param">
            <div class="productcard__paramleft">Грузовой момент, тм</div>
            <div class="productcard__paramright">19</div>
          </div>
          <div class="productcard__param">
            <div class="productcard__paramleft">Г/п (min вылет)</div>
            <div class="productcard__paramright">8000 кг (2 м)</div>
          </div>
          <a href="#" class="expand">Все характеритики</a>
          <div class="productcard__param el_hidden">
            <div class="productcard__paramleft">Модель шасси</div>
            <div class="productcard__paramright">КАМАЗ-43118-RR</div>
          </div>
          <div class="productcard__param el_hidden">
            <div class="productcard__paramleft">Модель дв.</div>
            <div class="productcard__paramright">ISL340 50 (E-5)</div>
          </div>
          <div class="productcard__param el_hidden">
            <div class="productcard__paramleft">Грузовой момент, тм</div>
            <div class="productcard__paramright">19</div>
          </div>
          <div class="productcard__param el_hidden">
            <div class="productcard__paramleft">Г/п (min вылет)</div>
            <div class="productcard__paramright">8000 кг (2 м)</div>
          </div>

        </div>
      </div>

      <div class="offers">
        <div class="subtitle">Дополнительные услуги</div>
        <div class="offers__items">
          <div class="offers__item">
            <div class="offer">
              <a href="">
                <div class="offer__img">
                  <div class="offers__icon">
                    <img src="./img/delivery.svg" alt="">
                  </div>
                </div>
                <div class="offers__name">Доставка до вашего города</div>
              </a>
            </div>
          </div><!-- /.offers__item -->

          <div class="offers__item">
            <div class="offer">
              <a href="">
                <div class="offer__img">
                  <div class="offers__icon">
                    <img src="./img/commute.svg" alt="">
                  </div>
                </div>
                <div class="offers__name">Трейд ин</div>
              </a>
            </div>
          </div><!-- /.offers__item -->
          <div class="offers__item">
            <div class="offer">
              <a href="">
                <div class="offer__img">
                  <div class="offers__icon">
                    <img src="./img/lizing.svg" alt="">
                  </div>
                </div>
                <div class="offers__name">Лизинг</div>
              </a>
            </div>
          </div><!-- /.offers__item -->

        </div><!-- /.offers__items -->
      </div><!-- /.offers -->
    </section>
  </div><!-- /.layout -->


  <section>
    <div class="blockheader">
      <div class="container">
        <h2>Подобная спецтехника</h2>
      </div><!-- /.container -->
    </div><!-- /.blockheader -->
    <div class="related">
      <div class="container">
        <div class="related__container">
          <div class="related__slider js-productslider">
            <div class="related__slide">
              <div class="productcard">
                <div class="productcard__wrapper">
                  <div class="productcard__leftside">
                    <div class="productcard__image">
                      <div class="productcard__img">
                        <img src="./images/product1.jpg" alt="">
                      </div><!-- /.productcard__img -->
                    </div><!-- /.productcard__image -->
                  </div><!-- /.productcard__leftside -->
                  <div class="productcard__rightside">
                    <div class="productcard__content">
                      <div class="productcard__title">Бортовой КАМАЗ 43118-76 с КМУ DongYang SS 1956</div>
                      <div class="productcard__params">
                        <div class="productcard__param">
                          <div class="productcard__paramleft">Модель шасси</div>
                          <div class="productcard__paramright">КАМАЗ-43118-RR</div>
                        </div><!-- /.productcard__param -->
                        <div class="productcard__param">
                          <div class="productcard__paramleft">Модель дв.</div>
                          <div class="productcard__paramright">ISL340 50 (E-5)</div>
                        </div><!-- /.productcard__param -->
                        <div class="productcard__param">
                          <div class="productcard__paramleft">Грузовой момент, тм</div>
                          <div class="productcard__paramright">19</div>
                        </div><!-- /.productcard__param -->
                        <div class="productcard__param">
                          <div class="productcard__paramleft">Г/п (min вылет)</div>
                          <div class="productcard__paramright">8000 кг (2 м)</div>
                        </div><!-- /.productcard__param -->

                      </div><!-- /.productcard__params -->
                      <div class="productcard__buttons">
                        <div class="productcard__link">
                          <a href="" class="btn_primary btn_arrow">Подробнее</a>
                        </div>
                        <div class="productcard__price">
                          <a href="" class="btn_border">Цена</a>
                        </div>
                      </div><!-- /.productcard__buttons -->
                    </div><!-- /.productcard__content -->
                  </div><!-- /.productcard__rightside -->
                </div><!-- /.productcard__wrapper -->
              </div>
            </div><!-- /.related__slide -->
            <div class="related__slide">
              <div class="productcard">
                <div class="productcard__wrapper">
                  <div class="productcard__leftside">
                    <div class="productcard__image">
                      <div class="productcard__img">
                        <img src="./images/product2.jpg" alt="">
                      </div><!-- /.productcard__img -->
                    </div><!-- /.productcard__image -->
                  </div><!-- /.productcard__leftside -->
                  <div class="productcard__rightside">
                    <div class="productcard__content">
                      <div class="productcard__title">Бортовой КАМАЗ 43118-76 с КМУ DongYang SS 1956</div>
                      <div class="productcard__params">
                        <div class="productcard__param">
                          <div class="productcard__paramleft">Модель шасси</div>
                          <div class="productcard__paramright">КАМАЗ-43118-RR</div>
                        </div><!-- /.productcard__param -->
                        <div class="productcard__param">
                          <div class="productcard__paramleft">Модель дв.</div>
                          <div class="productcard__paramright">ISL340 50 (E-5)</div>
                        </div><!-- /.productcard__param -->
                        <div class="productcard__param">
                          <div class="productcard__paramleft">Грузовой момент, тм</div>
                          <div class="productcard__paramright">19</div>
                        </div><!-- /.productcard__param -->
                        <div class="productcard__param">
                          <div class="productcard__paramleft">Г/п (min вылет)</div>
                          <div class="productcard__paramright">8000 кг (2 м)</div>
                        </div><!-- /.productcard__param -->

                      </div><!-- /.productcard__params -->
                      <div class="productcard__buttons">
                        <div class="productcard__link">
                          <a href="" class="btn_primary btn_arrow">Подробнее</a>
                        </div>
                        <div class="productcard__price">
                          <a href="" class="btn_border">Цена</a>
                        </div>
                      </div><!-- /.productcard__buttons -->
                    </div><!-- /.productcard__content -->
                  </div><!-- /.productcard__rightside -->
                </div><!-- /.productcard__wrapper -->
              </div>
            </div><!-- /.related__slide -->
            <div class="related__slide">
              <div class="productcard">
                <div class="productcard__wrapper">
                  <div class="productcard__leftside">
                    <div class="productcard__image">
                      <div class="productcard__img">
                        <img src="./images/product1.jpg" alt="">
                      </div><!-- /.productcard__img -->
                    </div><!-- /.productcard__image -->
                  </div><!-- /.productcard__leftside -->
                  <div class="productcard__rightside">
                    <div class="productcard__content">
                      <div class="productcard__title">Бортовой КАМАЗ 43118-76 с КМУ DongYang SS 1956</div>
                      <div class="productcard__params">
                        <div class="productcard__param">
                          <div class="productcard__paramleft">Модель шасси</div>
                          <div class="productcard__paramright">КАМАЗ-43118-RR</div>
                        </div><!-- /.productcard__param -->
                        <div class="productcard__param">
                          <div class="productcard__paramleft">Модель дв.</div>
                          <div class="productcard__paramright">ISL340 50 (E-5)</div>
                        </div><!-- /.productcard__param -->
                        <div class="productcard__param">
                          <div class="productcard__paramleft">Грузовой момент, тм</div>
                          <div class="productcard__paramright">19</div>
                        </div><!-- /.productcard__param -->
                        <div class="productcard__param">
                          <div class="productcard__paramleft">Г/п (min вылет)</div>
                          <div class="productcard__paramright">8000 кг (2 м)</div>
                        </div><!-- /.productcard__param -->

                      </div><!-- /.productcard__params -->
                      <div class="productcard__buttons">
                        <div class="productcard__link">
                          <a href="" class="btn_primary btn_arrow">Подробнее</a>
                        </div>
                        <div class="productcard__price">
                          <a href="" class="btn_border">Цена</a>
                        </div>
                      </div><!-- /.productcard__buttons -->
                    </div><!-- /.productcard__content -->
                  </div><!-- /.productcard__rightside -->
                </div><!-- /.productcard__wrapper -->
              </div>
            </div><!-- /.related__slide -->
            <div class="related__slide">
              <div class="productcard">
                <div class="productcard__wrapper">
                  <div class="productcard__leftside">
                    <div class="productcard__image">
                      <div class="productcard__img">
                        <img src="./images/product2.jpg" alt="">
                      </div><!-- /.productcard__img -->
                    </div><!-- /.productcard__image -->
                  </div><!-- /.productcard__leftside -->
                  <div class="productcard__rightside">
                    <div class="productcard__content">
                      <div class="productcard__title">Бортовой КАМАЗ 43118-76 с КМУ DongYang SS 1956</div>
                      <div class="productcard__params">
                        <div class="productcard__param">
                          <div class="productcard__paramleft">Модель шасси</div>
                          <div class="productcard__paramright">КАМАЗ-43118-RR</div>
                        </div><!-- /.productcard__param -->
                        <div class="productcard__param">
                          <div class="productcard__paramleft">Модель дв.</div>
                          <div class="productcard__paramright">ISL340 50 (E-5)</div>
                        </div><!-- /.productcard__param -->
                        <div class="productcard__param">
                          <div class="productcard__paramleft">Грузовой момент, тм</div>
                          <div class="productcard__paramright">19</div>
                        </div><!-- /.productcard__param -->
                        <div class="productcard__param">
                          <div class="productcard__paramleft">Г/п (min вылет)</div>
                          <div class="productcard__paramright">8000 кг (2 м)</div>
                        </div><!-- /.productcard__param -->

                      </div><!-- /.productcard__params -->
                      <div class="productcard__buttons">
                        <div class="productcard__link">
                          <a href="" class="btn_primary btn_arrow">Подробнее</a>
                        </div>
                        <div class="productcard__price">
                          <a href="" class="btn_border">Цена</a>
                        </div>
                      </div><!-- /.productcard__buttons -->
                    </div><!-- /.productcard__content -->
                  </div><!-- /.productcard__rightside -->
                </div><!-- /.productcard__wrapper -->
              </div>
            </div><!-- /.related__slide -->
            <div class="related__slide">
              <div class="productcard">
                <div class="productcard__wrapper">
                  <div class="productcard__leftside">
                    <div class="productcard__image">
                      <div class="productcard__img">
                        <img src="./images/product1.jpg" alt="">
                      </div><!-- /.productcard__img -->
                    </div><!-- /.productcard__image -->
                  </div><!-- /.productcard__leftside -->
                  <div class="productcard__rightside">
                    <div class="productcard__content">
                      <div class="productcard__title">Бортовой КАМАЗ 43118-76 с КМУ DongYang SS 1956</div>
                      <div class="productcard__params">
                        <div class="productcard__param">
                          <div class="productcard__paramleft">Модель шасси</div>
                          <div class="productcard__paramright">КАМАЗ-43118-RR</div>
                        </div><!-- /.productcard__param -->
                        <div class="productcard__param">
                          <div class="productcard__paramleft">Модель дв.</div>
                          <div class="productcard__paramright">ISL340 50 (E-5)</div>
                        </div><!-- /.productcard__param -->
                        <div class="productcard__param">
                          <div class="productcard__paramleft">Грузовой момент, тм</div>
                          <div class="productcard__paramright">19</div>
                        </div><!-- /.productcard__param -->
                        <div class="productcard__param">
                          <div class="productcard__paramleft">Г/п (min вылет)</div>
                          <div class="productcard__paramright">8000 кг (2 м)</div>
                        </div><!-- /.productcard__param -->

                      </div><!-- /.productcard__params -->
                      <div class="productcard__buttons">
                        <div class="productcard__link">
                          <a href="" class="btn_primary btn_arrow">Подробнее</a>
                        </div>
                        <div class="productcard__price">
                          <a href="" class="btn_border">Цена</a>
                        </div>
                      </div><!-- /.productcard__buttons -->
                    </div><!-- /.productcard__content -->
                  </div><!-- /.productcard__rightside -->
                </div><!-- /.productcard__wrapper -->
              </div>
            </div><!-- /.related__slide -->
          </div><!-- /.related__slider -->
          <div class="sliderarrows">
            <div class="sliderarrow sliderarrow__left">
              <img src="./img/sliderarrows_left.svg" alt="">
            </div>
            <div class="sliderarrow sliderarrow__right">
              <img src="./img/sliderarrows_right.svg" alt="">
            </div>
          </div><!-- /.sliderarrows -->
        </div><!-- /.related__container -->
      </div><!-- /.container -->
    </div><!-- /.related -->
  </section>


</div><!-- /.page -->
<%= _.template(require('../includes/footer.html').default)(data) %>