<% var data = {
  title: "Заголовок | Проект",
  author: ""
}; %>
<%= _.template(require('../includes/head.html').default)(data) %>

<section class="mainblock">
  <%= _.template(require('../includes/header.html').default)(data) %>

  <div class="mainblock__wrapper">
    <div class="section">

      <div class="mainblock__nav">
       
        <ul>
          <li><a href="#block0" class="scrollTo active">Главная</a></li>
          <li><a href="#block1" class="scrollTo">Каталог</a></li>
          <li><a href="#block2" class="scrollTo">О нас</a></li>
          <li><a href="#block3" class="scrollTo">Контакты</a></li>
        </ul>
      </div><!-- /.mainblock__nav -->
      <div class="mainblock__content">
        <div class="container">
          <div class="mainblock__title">
            <h1>Производство спецтехники с КМУ <br> на заказ в <span class="textblue">Набережных Челнах</span></h1>
          </div><!-- /.mainblock__title -->
          <div class="mainblock__text">с 2006 года разрабатываем и производим спецтехнику на базе КамАЗ, <br>
            производим технику любой сложности</div>
          <!-- /.mainblock__text -->
          <div class="mainblock__link">
            <a href="#block1" class="scrollTo">Подробнее</a>
          </div><!-- /.mainblock__link -->
        </div><!-- /.container -->
      </div><!-- /.mainblock__content -->

    </div><!-- /.section -->
  </div><!-- /.mainblock__wrapper -->
</section><!-- /.mainblock -->


<section class="cardsblock" id="block1">
  <div class="cardsblock__wrapper">
    <div class="container">
      <div class="cardsblock__items">
        <div class="cardsblock__item">
          <div class="cardsblock__card">
            <a href="">
              <div class="cardsblock__content">
                <div class="cardsblock__title">Бортовые <br> с КМУ</div><!-- /.cardsblock__title -->
                <div class="cardsblock__image">
                  <img src="./images/kamaz12.png" alt="">
                </div><!-- /.cardsblock__image -->
                <div class="cardsblock__link">перейти</div><!-- /.cardsblock__link -->
              </div><!-- /.cardsblock__content -->
            </a>
          </div><!-- /.cardsblock__card -->
        </div><!-- /.cardsblock__item -->

        <div class="cardsblock__item">
          <div class="cardsblock__card">
            <a href="">
              <div class="cardsblock__content">
                <div class="cardsblock__title">Металловоз <br> с КМУ</div><!-- /.cardsblock__title -->
                <div class="cardsblock__image">
                  <img src="./images/kamaz2.png" alt="">
                </div><!-- /.cardsblock__image -->
                <div class="cardsblock__link">перейти</div><!-- /.cardsblock__link -->
              </div><!-- /.cardsblock__content -->
            </a>
          </div><!-- /.cardsblock__card -->
        </div><!-- /.cardsblock__item -->
        <div class="cardsblock__item">
          <div class="cardsblock__card">
            <a href="">
              <div class="cardsblock__content">
                <div class="cardsblock__title">Тягач <br> с КМУ</div><!-- /.cardsblock__title -->
                <div class="cardsblock__image">
                  <img src="./images/kamaz3.png" alt="">
                </div><!-- /.cardsblock__image -->
                <div class="cardsblock__link">перейти</div><!-- /.cardsblock__link -->
              </div><!-- /.cardsblock__content -->
            </a>
          </div><!-- /.cardsblock__card -->
        </div><!-- /.cardsblock__item -->


      </div><!-- /.cardsblock__items -->
    </div><!-- /.cardsblock__wrapper -->
  </div><!-- /.container -->
  </div><!-- /.cardsblock__wrapper -->
</section>

<section class="aboutblock" id="block2">
  <div class="aboutblock__wrapper">
    <div class="container">
      <div class="aboutblock__cols">
        <div class="aboutblock__left">
          <div class="aboutblock__title">
            <h2>О компании</h2>
          </div><!-- /.aboutblock__title -->
          <div class="aboutblock__text">
            <p><b><mark><span>ООО «КАРВИНГ»</span></mark></b> - молодой и развивающийся завод по проектированию,
              изготовлению спецтехники с КМУ и сельскохозяйственной техники. </p>
            <p> На начальном этапе своей деятельности ООО «КАРВИНГ» прошло
              сертификацию ГОСТ Р ИСО 9001-2015, а так же получило Свидетельство
              о присвоении Международного идентификационного кода изготовителя
              транспортного средства (WMI) и Одобрение типа транспортного
              средства (ОТТС). </p>
          </div><!-- /.aboutblock__text -->
          <div class="aboutblock__slider">
            <div class="shapeslider">
              <div class="shapeslider__container">
                <div class="shapeslider__slider">
                  <div class="shapeslider__slide">
                    <div class="shapeslider__item"><a href=""><img src="./images/sert1.png" alt=""></a></div>
                    <!-- /.shapeslider__item -->
                  </div><!-- /.shapeslider__slide -->
                  <div class="shapeslider__slide">
                    <div class="shapeslider__item"><a href=""><img src="./images/sert1.png" alt=""></a></div>
                    <!-- /.shapeslider__item -->
                  </div><!-- /.shapeslider__slide -->
                  <div class="shapeslider__slide">
                    <div class="shapeslider__item"><a href=""><img src="./images/sert1.png" alt=""></a></div>
                    <!-- /.shapeslider__item -->
                  </div><!-- /.shapeslider__slide -->
                  <div class="shapeslider__slide">
                    <div class="shapeslider__item"><a href=""><img src="./images/sert1.png" alt=""></a></div>
                    <!-- /.shapeslider__item -->
                  </div><!-- /.shapeslider__slide -->
                  <div class="shapeslider__slide">
                    <div class="shapeslider__item"><a href=""><img src="./images/sert1.png" alt=""></a></div>
                    <!-- /.shapeslider__item -->
                  </div><!-- /.shapeslider__slide -->

                </div><!-- /.shapeslider__slider -->
              </div><!-- /.shapeslider__container -->
              <div class="shapeslider__arrows">
                <div class="shapeslider__arrow shapeslider__left slider-left">
                  <img src="./img/left-arrow.png" alt="">
                </div><!-- /.shapeslider__left -->
                <div class="shapeslider__arrow shapeslider__right slider-right">
                  <img src="./img/left-arrow.png" alt="">
                </div><!-- /.shapeslider__right -->
              </div><!-- /.shapeslider__arrow -->
            </div><!-- /.shapeslider -->
          </div><!-- /.aboutblock__slider -->
        </div><!-- /.aboutblock__left -->
        <div class="aboutblock__right">
          <div class="aboutstats">
            <div class="aboutstats__header">Мы это!</div><!-- /.aboutstats__header -->
            <div class="aboutstats__items">
              <div class="aboutstats__item">
                <div class="aboutstats__title">
                  <span class="aboutstats__number">25</span>лет</div>
                <!-- /.aboutstats__title -->
                <div class="aboutstats__text">опыт работы в сфере производства КМУ</div><!-- /.aboutstats__text -->
              </div><!-- /.aboutstats__item -->
              <div class="aboutstats__item">
                <div class="aboutstats__title">
                  <span class="aboutstats__number">>250 </span></div>
                <!-- /.aboutstats__title -->
                <div class="aboutstats__text">произведенных единиц техники на базе КамАЗ</div>
                <!-- /.aboutstats__text -->
              </div><!-- /.aboutstats__item -->
              <div class="aboutstats__item">
                <div class="aboutstats__title">
                  <span class="aboutstats__number">>37 </span>
                </div><!-- /.aboutstats__title -->
                <div class="aboutstats__text">специалистов готовых на производсвто любой техникии</div>
                <!-- /.aboutstats__text -->
              </div><!-- /.aboutstats__item -->
              <div class="aboutstats__item">

                <div class="aboutstats__text">
                  <a href="" class="btn btn_border btn_shape">
                    <span>Подробнее</span>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="42px"
                      height="18px">
                      <path fill-rule="evenodd" fill="rgb(232, 234, 239)"
                        d="M41.312,9.006 L41.998,9.730 L33.204,17.993 L31.821,16.533 L38.774,10.000 L-0.000,10.000 L-0.000,8.000 L38.775,8.000 L31.821,1.467 L33.204,0.007 L41.998,8.270 L41.312,8.994 L41.312,9.006 Z" />
                    </svg>
                  </a><!-- /.btn btn_border btn_shape -->
                </div><!-- /.aboutstats__text -->
              </div><!-- /.aboutstats__item -->
            </div><!-- /.aboutstats__items -->
          </div><!-- /.aboutstats -->
        </div><!-- /.aboutblock__right -->
      </div><!-- /.aboutblock__cols -->
    </div><!-- /.container -->
  </div><!-- /.aboutblock__wrapper -->
</section><!-- /.aboutblock -->


<section class="fitchesblock">
  <div class="container">
    <div class="fitchesblock__header">
      <h2>Наши <br>преимущества</h2>
      <div class="fitchesblock__descr">Молодой и развивающийся завод по проектированию,
        изготовлению спецтехники с КМУ и сельскохозяйственной техники. </div>
    </div><!-- /.fitchesblock__header -->
    <div class="fitchesblock__items">
      <div class="fitchesblock__item">
        <div class="fitchesblock__wrapper">
          <div class="fitchesblock__content">
            <div class="fitchesblock__title">
              <div class="fitchesblock__icon">
                <img src="./img/like.png" alt="">
              </div><!-- /.fitchesblock__icon -->
              <div class="fitchesblock__name">Качество</div>
            </div><!-- /.fitchesblock__title -->
            <div class="fitchesblock__text">Мы гарантируем высочайшее качество продукции.</div>
          </div><!-- /.fitchesblock__content -->
        </div><!-- /.fitchesblock__wrapper -->
      </div><!-- /.fitchesblock__item -->
      <div class="fitchesblock__item">
        <div class="fitchesblock__wrapper">
          <div class="fitchesblock__content">
            <div class="fitchesblock__title">
              <div class="fitchesblock__icon">
                <img src="./img/shield.png" alt="">
              </div><!-- /.fitchesblock__icon -->
              <div class="fitchesblock__name">Гарантия</div>
            </div><!-- /.fitchesblock__title -->
            <div class="fitchesblock__text">Мы всегда четко соблюдаем свои обязательства.</div>
          </div><!-- /.fitchesblock__content -->
        </div><!-- /.fitchesblock__wrapper -->
      </div><!-- /.fitchesblock__item -->
      <div class="fitchesblock__item">
        <div class="fitchesblock__wrapper">
          <div class="fitchesblock__content">
            <div class="fitchesblock__title">
              <div class="fitchesblock__icon">
                <img src="./img/list.png" alt="">
              </div><!-- /.fitchesblock__icon -->
              <div class="fitchesblock__name">Широкий <br> ассортимент</div>
            </div><!-- /.fitchesblock__title -->
            <div class="fitchesblock__text">Наша компания предлагает широкий ассортимент продукции.</div>
          </div><!-- /.fitchesblock__content -->
        </div><!-- /.fitchesblock__wrapper -->
      </div><!-- /.fitchesblock__item -->
      <div class="fitchesblock__item">
        <div class="fitchesblock__wrapper">
          <div class="fitchesblock__content">
            <div class="fitchesblock__title">
              <div class="fitchesblock__icon">
                <img src="./img/conversation.png" alt="">
              </div><!-- /.fitchesblock__icon -->
              <div class="fitchesblock__name">Индивидуально</div>
            </div><!-- /.fitchesblock__title -->
            <div class="fitchesblock__text">Индивидуальная работа с каждым клиентом.</div>
          </div><!-- /.fitchesblock__content -->
        </div><!-- /.fitchesblock__wrapper -->
      </div><!-- /.fitchesblock__item -->
      <div class="fitchesblock__item">
        <div class="fitchesblock__wrapper">
          <div class="fitchesblock__content">
            <div class="fitchesblock__title">
              <div class="fitchesblock__icon">
                <img src="./img/agreement.png" alt="">
              </div><!-- /.fitchesblock__icon -->
              <div class="fitchesblock__name">Квалифицированный <br> персонал</div>
            </div><!-- /.fitchesblock__title -->
            <div class="fitchesblock__text">Наши технические специалисты проходят обучение непосредственно </div>
          </div><!-- /.fitchesblock__content -->
        </div><!-- /.fitchesblock__wrapper -->
      </div><!-- /.fitchesblock__item -->
      <div class="fitchesblock__item">
        <div class="fitchesblock__wrapper">
          <div class="fitchesblock__content">
            <div class="fitchesblock__title">
              <div class="fitchesblock__icon">
                <img src="./img/crane.png" alt="">
              </div><!-- /.fitchesblock__icon -->
              <div class="fitchesblock__name">Товар в наличии</div>
            </div><!-- /.fitchesblock__title -->
            <div class="fitchesblock__text">Популярные модели всегда в наличии на складе.</div>
          </div><!-- /.fitchesblock__content -->
        </div><!-- /.fitchesblock__wrapper -->
      </div><!-- /.fitchesblock__item -->

    </div><!-- /.fitchesblock__items -->
  </div><!-- /.container -->
</section><!-- /.fitchesblock -->

<section class="contactsblock" id="block3">
  <div class="contactsblock__wrapper">

    <div class="contactsblock__map">
      <iframe
        src="https://yandex.ru/map-widget/v1/?um=constructor%3Ab19ee765a1168b667a85425f81cfb975e519ef6cb18254a483e0544b3c7a5e63&amp;source=constructor"
        width="100%"  frameborder="0"></iframe>
    </div>
    <div class="container">
      <div class="contactsblock__content">
        <div class="contactsblock__header">
          <h2>Контакты</h2>
          <div class="contactsblock__name textblue">ООО «КАРВИНГ»</div>
        </div><!-- /.contactsblock__header -->
        <div class="contactsblock__location">
          <div class="location">
            Татарстан, Набережные Челны, <br> Производственный проезд, 45
          </div>
        </div><!-- /.contactsblock__location -->
        <div class="contactsblock__phones">
          <div class="contactblock">
            <div class="contactblock__phone"><a href="tel:88552910916">8 (8552) 91-09-16</a> </div>
            <!-- /.contactblock__phone -->
            <div class="contactblock__mail"><a href="mailto:carving116@yandex.ru">carving116@yandex.ru </a></div>
            <!-- /.contactblock__mail -->
          </div>
        </div><!-- /.contactsblock__phones -->
        <div class="contactsblock__button"><a href="#modal-callback" data-toggle="modal"
            class="btn btn_main btn_shape"><span>Заказать звонок</span></a>
          <!-- /.btn btn_main btn_shape -->
        </div><!-- /.contactsblock__button -->
      </div>
    </div>
  </div>


</section>

<%= _.template(require('../includes/footer.html').default)(data) %>