<% var data = {
  title: "Каталог | Карвинг",
  author: ""
}; %>
<%= _.template(require('../includes/head.html').default)(data) %>
<%= _.template(require('../includes/header.html').default)(data) %>
<div class="page">
  <div class="layout layout_column">
    <section class="layout_left">
      <div class="pageheader__content">
        <div class="pageheading">
          <div class="breadcrumbs">
            <ul>
              <li><a href=""><span>Главная</span></a></li>
              <li><span>Лизинг</span></li>
            </ul>
          </div><!-- /.breadcrumbs -->
          <h1>Информация о&nbsp;лизинге</h1>
        </div><!-- /.pageheading -->
      </div><!-- /.pageheader_catalog -->
    </section><!-- /.pageheader pageheader_catalog -->

    <section class="layout_right">
      <div class="detailtext">
        <h2>Лизинг на грузовой автомобиль</h2>
        <p>Лизинг — это вид финансовых услуг, форма кредитования при приобретении основных фондов предприятиями. По
          сути, это долгосрочная аренда имущества с последующим выкупом по остаточной стоимости. Под финансирование
          попадают юридические лица и ИП со сроком регистрации бизнеса от 6 месяцев, поручительство и ликвидный залог
          не требуется.</p>
        <h2>Экономическая целесообразность лизинга</h2>
        <ul>
          <li>Сумма аванса 10-30% от стоимости техники</li>
          <li>Удорожание объекта лизинга в год на 6-9%.</li>
          <li>Экономия 20% за счет возврата НДС</li>
          <li>Уменьшение налогооблагаемой базы по налогу на прибыль (являются затратами)</li>
          <li>Экономия на налоге на имущество</li>
          <li>Средства сохраняются в обороте компании</li>
          <li>Ускоренная амортизация предмета лизинга с коэффициентом ускорения до 3, что позволяет быстрее окупить
            технику</li>
          <li>Срок выплаты лизинговых платежей от 6-ти месяцев до 5-ти лет с возможностью досрочного погашения</li>
          <li>Распределение расходов на срок лизинга позволяет снизить финансовую нагрузку на бизнес</li>
        </ul>

        <blockquote>Лизинг — это вид финансовых услуг, форма кредитования при приобретении основных фондов
          предприятиями. По сути, это долгосрочная аренда имущества с последующим выкупом по остаточной стоимости. Под
          финансирование попадают юридические лица и ИП со сроком регистрации бизнеса от 6 месяцев, поручительство и
          ликвидный залог не требуется.</blockquote>


        <div class="textphoto">
          <div class="textphoto__photo">
            <div class="textphoto__img">
              <img src="./images/image1.jpg" alt="">
            </div>
          </div>
          <div class="textphoto__text">
            <h2>Блок с фото</h2>
            <p>Лизинг — это вид финансовых услуг, форма кредитования при приобретении основных фондов предприятиями.
              По сути, это долгосрочная аренда имущества с последующим выкупом по остаточной стоимости. Под
              финансирование попадают юридические лица и ИП со сроком регистрации бизнеса от 6 месяцев, поручительство
              и ликвидный залог не требуется.</p>
          </div><!-- /.textphoto__text -->
        </div><!-- /.textphoto -->

        <h2>Блок - много картинок</h2>
        <p>Лизинг — это вид финансовых услуг, форма кредитования при приобретении основных фондов предприятиями. По
          сути, это долгосрочная аренда имущества с последующим выкупом по остаточной стоимости. Под финансирование
          попадают юридические лица и ИП со сроком регистрации бизнеса от 6 месяцев, поручительство и ликвидный залог
          не требуется.</p>

        <div class="gallery">
          <div class="gallery__item"><a href="./images/image1.jpg" data-lightbox="gallery"><img
                src="./images/image2.jpg" alt=""></a></div>
          <div class="gallery__item"><a href="./images/image1.jpg" data-lightbox="gallery"><img
                src="./images/image3.jpg" alt=""></a></div>
          <div class="gallery__item"><a href="./images/image1.jpg" data-lightbox="gallery"><img
                src="./images/image4.jpg" alt=""></a></div>
        </div><!-- /.gallery -->
      </div><!-- /.detailtext -->
    </section><!-- /.pagecontent -->
  </div><!-- /.layout layout--column -->

</div><!-- /.page -->
<%= _.template(require('../includes/footer.html').default)(data) %>