<% var data = {
  title: "Заголовок | Проект",
  author: ""
}; %>
<%= _.template(require('./../includes/head.html').default)(data) %>


<main>


  <style>
    li {
      margin-bottom: 10px;
      font-size: 16px;
    }
  </style>




  <section>
    <div class="container">
      <br><br><br>
      <ul>
        <li><a href="01_ac_enter_02.html" target="blank">01_ac_enter_02</a></li>
        <li><a href="01_ac_enter_NEW_01.html" target="blank">01_ac_enter_NEW_01</a></li>
        <li><a href="04_ac_register_NEW_01-01.html" target="blank">04_ac_register_NEW_01</a></li>
        <li><a href="04_ac_register_NEW_02.html" target="blank">04_ac_register_NEW_02</a></li>
        <li><a href="04_ac_register_NEW_03.html" target="blank">04_ac_register_NEW_03</a></li>
        <li><a href="08_ac_restore-01.html" target="blank">08_ac_restore-01</a></li>
        <li><a href="08_ac_restore-02.html" target="blank">08_ac_restore-02</a></li>
        <li><a href="10_ac_review_register_sucess-02_NEW-03.html"
            target="blank">10_ac_review_register_sucess-02_NEW-03</a></li>
        <li><a href="10_ac_review_register_sucess-02.html" target="blank">10_ac_review_register_sucess-02</a></li>
        <li><a href="11_01_ac_review_register_gos_01.html" target="blank">11_01_ac_review_register_gos_01</a></li>
        <li><a href="11_02_ac_services-01_2.html" target="blank">11_02_ac_services-01_2</a></li>
        <li><a href="11_02_ac_services-01_3.html" target="blank">11_02_ac_services-01_3</a></li>
        <li><a href="11_02_ac_services-01.html" target="blank">11_02_ac_services-01</a></li>
        <li><a href="12_ac_all_NEW-03.html" target="blank">12_ac_all_NEW-03</a></li>
        <li><a href="13_ac_services_состояния блоков.html" target="blank">13_ac_services_состояния блоков</a></li>
        <li><a href="14_ac_credit_history_change_History.html" target="blank">14_ac_credit_history_change_History</a>
        </li>
        <li><a href="14_ac_credit_history_change.html" target="blank">14_ac_credit_history_change</a></li>
        <li><a href="14_ac_credit_history_Subscribe.html" target="blank">14_ac_credit_history_Subscribe</a></li>
        <li><a href="14_ac_credit_history_thiefs_History.html" target="blank">14_ac_credit_history_thiefs_History</a>
        </li>
        <li><a href="14_ac_credit_history_thiefs.html" target="blank">14_ac_credit_history_thiefs</a></li>
        <li><a href="14_ac_credit_history.html" target="blank">14_ac_credit_history</a></li>
        <li><a href="15_ac_pkr.html" target="blank">15_ac_pkr</a></li>
        <li><a href="16_ac_pkr-15.html" target="blank">16_ac_pkr-15</a></li>
        <li><a href="17_ac_pkr-12_info-01.html" target="blank">17_ac_pkr-12_info-01</a></li>
        <li><a href="17_ac_pkr-12_info-02.html" target="blank">17_ac_pkr-12_info-02</a></li>
        <li><a href="17_ac_pkr-12_info-03.html" target="blank">17_ac_pkr-12_info-03</a></li>
        <li><a href="18_ac_history.html" target="blank">18_ac_history</a></li>
        <li><a href="19_ac_buy.html" target="blank">19_ac_buy</a></li>
        <li><a href="20_ac_personal_02.html" target="blank">20_ac_personal_02</a></li>
        <li><a href="21_ac_personal_02.html" target="blank">21_ac_personal_02</a></li>
        <li><a href="22_ac_personal_02.html" target="blank">22_ac_personal_02</a></li>
        <li><a href="23_ac_personal_02.html" target="blank">23_ac_personal_02</a></li>
        <li><a href="24_ac_personal_02.html" target="blank">24_ac_personal_02</a></li>
        <li><a href="ac_error.html" target="blank">ac_error</a></li>
      </ul>
    </div><!-- /.container -->
  </section>

</main>


<%= _.template(require('./../includes/footer.html').default)(data) %>