@import '../fonts/fonts.css';
@import './partials/params.scss';
@import './partials/mixins.scss';
@import './modal.scss';


body {
  min-width: 320px;
  font-family: 'TT Norms';
  @include clear;
  scroll-behavior: smooth;
  background: #F8F8F8;
}

* {
  font-family: 'TT Norms';
  box-sizing: border-box;
  outline: none !important;
}

main {
  overflow: hidden;
}

a {
  transition: all 0.3s ease;
}

a:hover,
a:focus {
  text-decoration: none;
  color: $blue2;
}


@media (min-width: 768px) {
  .onlyMobile {
    display: none !important;
  }
}


@include small-screen {
  .onlyMobile {
    display: block;
  }

  .onlyDesktop {
    display: none !important;
  }

}


.container {
  @include container;
}

.layout_column {
  @include container;
}

.section {
  @include section;
}

.textblue {
  color: $maincolor;
}


.mainblock__wrapper {
  height: 912px;
  background-image: url(../images/bg1.jpg);
  background-size: cover;
  background-position: center;


  .section {
    height: 100%;
  }
}

.mainblock__content {
  height: 100%;
}

.mainblock__content .container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  padding-bottom: 40px;
}

.mainblock__title h1 {
  font-size: 50px;
  color: rgb(232, 234, 239);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.6;
  text-align: left;
}

.textblue {}

.mainblock__text {
  margin-top: 70px;
  font-size: 24px;
  color: rgb(232, 234, 239);
  line-height: 1.333;

}




.mainblock__nav {
  position: absolute;
  left: 0;
  top: calc(50% - 150px);
}

.mainblock__nav li {
  margin-bottom: 40px;
}

.mainblock__nav a:hover {
  text-decoration: none;
}

.mainblock__nav a {
  font-size: 18px;
  color: rgb(232, 234, 239);
  font-weight: bold;
  position: relative;
  padding-bottom: 10px;
  transition: all 0.3s ease;
}

.mainblock__nav a:hover:after {
  content: "";
  background-color: rgb(17, 190, 235);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 47px;
  height: 2px;
}

.mainblock__nav a.active:after {
  content: "";
  background-color: rgb(17, 190, 235);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 47px;
  height: 2px;

}

.dflex {
  display: flex;
}

.dflex-between {
  align-items: center;
  justify-content: space-between;
}

.location {
  background-image: url('../img/location.svg');
  background-repeat: no-repeat;
  background-position: left center;

  font-size: 14px;

  color: #000;
  line-height: 1.429;
  padding-left: 45px;

}

.header {}

.header__wrapper {}

.section {}

.header__content {}

.logo a {
  display: block;
}

.header__info {}

.header__items {}

.dflex {}

.dflex-between {}

.header__address {}

.header__contacts {}

.contactblock {
  padding-left: 35px;
  background-image: url('../img/phone.svg');
  background-repeat: no-repeat;
  background-position: left center;
}

.contactblock__phone {
  line-height: 1;
}

.contactblock__phone a {
  font-size: 20px;
  color: #000;
  font-weight: bold;
  line-height: 24px;


}

.contactblock__mail {
  line-height: 1;
}

.contactblock__mail a {
  font-size: 12px;
  line-height: 16px;
  color: #000;



}

.logo--white {
  display: none;
}

.mainblock {
  #header {
    background: transparent;
    border-bottom: none;
  }

  .mobilemenu svg path {
    fill: #fff;
  }

  .logo--white {
    display: block;
  }

  .logo--dark {
    display: none;
  }

  .location {

    color: rgb(161, 163, 169);


  }

  .contactblock__phone a {
    color: rgb(232, 234, 239);


  }

  .contactblock__mail a {
    color: rgb(232, 234, 239);


  }
}

header#header {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;

  padding: 40px 0;
  z-index: 5;
  border-bottom: 1px solid #E6E6E6;

  .header__info {
    width: 1200px;
    max-width: 100%;
  }
}

.btn_main {
  background-color: $maincolor;
  display: block;
  height: 57px;
  line-height: 57px;
  padding: 0 55px;
  white-space: nowrap;
  font-size: 18px;
  color: rgb(232, 234, 239);
  font-weight: bold;
  transition: all 0.3s ease;

}

.btn_main:hover,
.btn_main:focus {
  background-color: $maincolor2;
  color: rgb(232, 234, 239);
}

.mainblock__link a {
  display: inline-block;
  font-size: 14px;
  color: rgba(232, 234, 239, 0.388);
  line-height: 1.429;
  position: relative;
  bottom: -85px;
  text-decoration: none !important;
  background-image: url('../img/strelka.png');
  background-repeat: no-repeat;
  background-position: left bottom;
  height: 75px;
}

.cardsblock {
  background: #e2e3ec;
  margin-bottom: -120px;
}

.cardsblock__wrapper {
  position: relative;
  top: -120px;
  background: #fff;
  max-width: 1520px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 430px;
}

.cardsblock__items {
  display: flex;
  flex: 1 1 0px;
}

.cardsblock__item {
  width: 33.3333%;
}

.cardsblock__card a {
  position: relative;
  padding: 58px 0 30px 0;
  display: block;
  background-color: #fff;
  min-width: 293px;
  overflow: hidden;
  transition: none !important;
}

.cardsblock__content {}

.cardsblock__title {
  font-size: 24px;
  color: rgb(26, 26, 29);
  font-weight: bold;
  line-height: 1.083;
  margin-bottom: 25px;
  padding: 0 20px;

}

.cardsblock__image {
  margin-bottom: 15px;
  transition: all .2s ease-in-out;
  height: 210px;
  display: flex;
  align-items: center;
}

.cardsblock__link:after {
  content: "";
  background-color: rgb(226, 227, 236);
  position: absolute;

  width: calc(100% - 83px);
  height: 1px;
  z-index: 314;
  right: 0;
  top: 13px
}

.cardsblock__link {
  position: relative;
  font-size: 14px;
  color: rgb(69, 69, 77);
  line-height: 1.857;

  padding: 0 20px;
}

.cardsblock__card a:hover {

  text-decoration: none !important;
  background-color: rgb(19, 168, 207);

  .cardsblock__link {
    color: #fff;

  }

  .cardsblock__link:after {
    background-color: #fff;
  }

  .cardsblock__title {
    color: #fff;
  }

  .cardsblock__image {
    margin-bottom: 30px;
  }

  .cardsblock__image img {
    transform: scale(1.1);
    transition: all .2s ease-in-out;
  }
}

.btn_block {
  margin: auto;
}

.footer {
  background: #212124;
  padding: 100px 0 200px 0;

  span {
    font-size: 14px;
    color: rgb(193, 195, 198);
    line-height: 1.429;

  }

  a {
    font-size: 14px;
    color: rgb(193, 195, 198);
    line-height: 1.429;
    text-decoration: none;
  }
}

.footer__phone {
  margin-bottom: 6px;
}

.footer__phone a {
  font-size: 24px;
  color: rgb(232, 234, 239);
  font-weight: bold;
}

.footer__mail a {
  font-size: 16px;
  color: rgb(232, 234, 239);
  line-height: 1.25;
  display: block;
}


.footer__main {}

.footer__cols {
  display: flex;
}

.footer__col {
  width: 25%;
  padding: 0 25px;
}

.footer__info {}

.footerinfo {}

.footerinfo__logo {
  margin-bottom: 50px;
}

.footerinfo__address {
  margin-bottom: 25px;
}

.footerinfo__copy {}

.footerinfo__dev {
  margin-top: 100px;
}

span.velvet {
  color: #ae00ff;
}

.footer__title {
  font-size: 18px;
  color: rgb(232, 234, 239);
  font-weight: bold;
  line-height: 1.111;
  margin-bottom: 30px;

}

.footer__menu {
  ul {
    padding: 0;
    margin: 0;
  }

  li {
    margin-bottom: 15px;
    list-style: none;
  }

  a {

    font-size: 16px;
    color: rgb(127, 129, 133);
    text-decoration: none;

    &:hover {
      color: $maincolor;
      border-bottom: 1px solid $maincolor;
    }
  }
}


.aboutblock__wrapper {
  background: linear-gradient(90deg, #e2e3ec 55%, #fe7933 45%);
  padding: 100px 0;
}

.aboutblock__cols {
  display: flex;
  justify-content: space-between;
}

.aboutblock__left {
  width: calc(100% - 390px);
}

.aboutblock__title {
  margin-bottom: 100px;
}

.aboutblock__text {
  max-width: 585px;
}

h2 {
  font-size: 60px;
  color: rgb(26, 26, 29);
  font-weight: bold;
  margin-top: 0;
}

.aboutblock__text {
  margin-bottom: 100px;
}

.aboutblock__text p {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 16px;
  color: rgb(26, 26, 29);
  line-height: 1.625;


}

mark {
  background: none;
  padding: 0;
  position: relative;

  &:after {
    content: "";
    width: calc(100% + 6px);
    left: -3px;
    right: -3px;
    background-color: rgb(8, 183, 229);
    position: absolute;
    bottom: 1px;
    height: 8px;
    z-index: 0;
    border-radius: 5px;


  }

  span {
    position: relative;
    z-index: 1;
  }

}


.aboutblock__right {
  width: 450px;
  margin-top: 20px;

  * {
    color: #fff;
  }
}

.aboutstats {
  padding-left: 50px;
}

.aboutstats__header {

  font-size: 36px;
  color: rgb(255, 255, 255);
  line-height: 1;


  margin-bottom: 90px;
}

.aboutstats__items {
  max-width: 350px;
  margin-bottom: 30px;
}

.aboutstats__item {
  margin-bottom: 75px;
}

.aboutstats__title {
  font-size: 38px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 0.529;
  margin-bottom: 30px;
}

.aboutstats__number {
  padding-right: 10px;
  font-size: 68px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 0.529;

}

.aboutstats__text {
  font-size: 16px;
  color: rgb(255, 255, 255);
  line-height: 1.25;

}

.btn {
  span {

    display: inline-block;
    vertical-align: middle;
  }

  svg,
  img {
    margin-left: 25px;
    display: inline-block;
    vertical-align: middle;
  }
}

.btn_border {
  text-align: center;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 8px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 0 35px;
  height: 60px;
  line-height: 60px;

  &:hover {
    background-color: #fff;
    color: #fe7933;

    span {
      color: #fe7933;
    }

    svg path {
      fill: #fe7933;
    }
  }

}

.btn_shape {
  -moz-transform: translate(-2px, -4px) skew(-8deg, 0deg);
  -webkit-transform: translate(-2px, -4px) skew(-8deg, 0deg);
  -o-transform: translate(-2px, -4px) skew(-8deg, 0deg);
  -ms-transform: translate(-2px, -4px) skew(-8deg, 0deg);
  transform: translate(-2px, -4px) skew(-8deg, 0deg);

  span {
    -moz-transform: translate(-2px, -4px) skew(8deg, 0deg);
    -webkit-transform: translate(-2px, -4px) skew(8deg, 0deg);
    -o-transform: translate(-2px, -4px) skew(8deg, 0deg);
    -ms-transform: translate(-2px, -4px) skew(8deg, 0deg);
    transform: translate(-2px, -4px) skew(8deg, 0deg);
  }

  svg {
    -moz-transform: translate(-2px, -4px) skew(8deg, 0deg);
    -webkit-transform: translate(-2px, -4px) skew(8deg, 0deg);
    -o-transform: translate(-2px, -4px) skew(8deg, 0deg);
    -ms-transform: translate(-2px, -4px) skew(8deg, 0deg);
    transform: translate(-2px, -4px) skew(8deg, 0deg);
  }
}


.aboutblock__slider {
  padding: 22px 50px;
  background: #fff;
  border-radius: 14px;
  margin-left: -57px;
  max-width: 760px;
  -moz-transform: translate(-2px, -4px) skew(8deg, 0deg);
  -webkit-transform: translate(-2px, -4px) skew(8deg, 0deg);
  -o-transform: translate(-2px, -4px) skew(8deg, 0deg);
  -ms-transform: translate(-2px, -4px) skew(8deg, 0deg);
  transform: translate(-2px, -4px) skew(8deg, 0deg);
}

.shapeslider {
  -moz-transform: translate(-2px, -4px) skew(-8deg, 0deg);
  -webkit-transform: translate(-2px, -4px) skew(-8deg, 0deg);
  -o-transform: translate(-2px, -4px) skew(-8deg, 0deg);
  -ms-transform: translate(-2px, -4px) skew(-8deg, 0deg);
  transform: translate(-2px, -4px) skew(-8deg, 0deg);
}

.shapeslider__container {
  position: relative;
}

.shapeslider__slider {}

.shapeslider__slide {}

.shapeslider__item {
  img {
    margin: auto;
  }
}

.shapeslider__arrow {
  border-radius: 50%;
  background-color: rgb(226, 227, 236);
  position: absolute;
  z-index: 4;
  cursor: pointer;

  top: calc(50% - 31px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 62px;
  transition: all 0.3s ease;

  &:hover {
    background-color: #fe7933
  }
}

.shapeslider__left {
  left: -80px;
}

.shapeslider__right {
  right: -80px;

  img {
    transform: rotate(180deg);
  }
}

.fitchesblock {
  background: #f4f4f6;
  padding: 140px 0;
}

.fitchesblock__header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.fitchesblock__header>div {
  margin-right: 70px;
}

.fitchesblock__descr {
  position: relative;
  padding-left: 22px;
  margin-bottom: 20px;
  font-size: 16px;
  color: rgb(61, 61, 67);
  line-height: 1.625;
  max-width: 527px;

  &:before {
    content: "";
    background-color: rgb(53, 138, 197);
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;
    border-radius: 4px;
  }



}

.fitchesblock__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: calc(100% + 100px);
  margin: 120px -50px 70px -50px;
}

.fitchesblock__item:nth-child(2) {
  margin-top: 43px;
}

.fitchesblock__item:nth-child(5) {
  margin-top: 43px;
}

.fitchesblock__wrapper {
  width: 393px;
  padding: 30px 30px 35px 40px;
  background: #e2e3ec;
  border-radius: 14px;

  -moz-transform: translate(-2px, -4px) skew(-8deg, 0deg);
  -webkit-transform: translate(-2px, -4px) skew(-8deg, 0deg);
  -o-transform: translate(-2px, -4px) skew(-8deg, 0deg);
  -ms-transform: translate(-2px, -4px) skew(-8deg, 0deg);
  transform: translate(-2px, -4px) skew(-8deg, 0deg);

  &:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 34px 10px 0px rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease;
  }
}

.fitchesblock__content {
  moz-transform: translate(-2px, -4px) skew(8deg, 0deg);
  -webkit-transform: translate(-2px, -4px) skew(8deg, 0deg);
  -o-transform: translate(-2px, -4px) skew(8deg, 0deg);
  -ms-transform: translate(-2px, -4px) skew(8deg, 0deg);
  transform: translate(-2px, -4px) skew(8deg, 0deg);
}

.fitchesblock__title {
  margin-bottom: 35px;
}

.fitchesblock__icon {
  display: inline-block;
  vertical-align: middle;
}

.fitchesblock__name {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  color: rgb(36, 36, 39);
  font-weight: bold;
  line-height: 1;
  padding-left: 20px;
}

.fitchesblock__text {

  font-size: 16px;
  color: rgb(36, 36, 39);
  line-height: 1.25;

}


.contactsblock__wrapper {
  position: relative;
  background: #fff;
  height: 650px;
  display: flex;
  align-items: center;

  .location,
  .contactblock__phone a,
  .contactblock__mail a {
    color: #000;
  }
}



.contactsblock__content {
  width: 50%;
  height: 100%;
  float: right;
  padding-left: 103px;
}

.contactsblock__map {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;

}

.contactsblock__location {
  margin-bottom: 50px;
}

.contactsblock__phones {
  margin-bottom: 70px;
}

.mainblock__nav_mobile {
  display: none;
}

.btn_main.btn_shape {
  display: inline-block;
  background-color: #14a3c8;

  -moz-transform: translate(-2px, -4px) skew(-11deg, 0deg);
  -webkit-transform: translate(-2px, -4px) skew(-11deg, 0deg);
  -o-transform: translate(-2px, -4px) skew(-11deg, 0deg);
  -ms-transform: translate(-2px, -4px) skew(-11deg, 0deg);
  transform: translate(-2px, -4px) skew(-11deg, 0deg);
  border-radius: 8px;

  span,
  svg,
  img {
    -moz-transform: translate(-2px, -4px) skew(11deg, 0deg);
    -webkit-transform: translate(-2px, -4px) skew(11deg, 0deg);
    -o-transform: translate(-2px, -4px) skew(11deg, 0deg);
    -ms-transform: translate(-2px, -4px) skew(11deg, 0deg);
    transform: translate(-2px, -4px) skew(11deg, 0deg);
  }

  &:hover {
    background-color: $maincolor;
  }
}

.contactsblock__header {
  display: flex;
  align-items: center;
  margin-bottom: 70px;

  h2 {
    margin-right: 40px;
  }
}

iframe {
  height: 100%;
}

@media (max-width: 1440px) {
  .mainblock__nav ul {
    padding-left: 10px;
  }

  .mainblock__nav {
    top: 150px;
  }

  .mainblock__nav ul {
    display: flex;

    li {
      margin-right: 20px;
    }
  }

  .fitchesblock__wrapper {
    width: 100%;
  }

  .fitchesblock__items {
    margin: 50px 0 0 0;
    width: 100%;
  }

  .fitchesblock__item {
    width: 33.3333%;
    padding: 0 15px;
  }

  .fitchesblock__header>div {
    margin-top: 0;
    margin-left: 40px;
  }

  .contactblock__phone {
    white-space: nowrap;
  }
}

@media (max-width: 1023px) {
  img {
    max-width: 100%;
    height: initial;
    max-height: 100%;
  }

  .cardsblock__card a {
    min-width: initial;
  }

  /* .header .dflex-between {
    flex-wrap: wrap;
  } */
  .header__address {
    display: none;
  }

  .mainblock__title h1 {
    font-size: 40px;
    line-height: 1.4;

    br {
      display: none;
    }
  }

  .cardsblock__wrapper .container {
    padding: 0;
  }

  .cardsblock__image {
    padding-right: 20px;
  }

  .aboutblock__right {
    width: 336px;
  }

  .aboutblock__slider {
    margin-left: 0;
  }

  .aboutblock__left {
    width: calc(100% - 352px);
  }

  .fitchesblock__item {
    width: 50%;
    margin: 0 0 30px 0;
    margin-top: 0 !important;
  }

  .fitchesblock__title {
    white-space: nowrap;
  }

  .fitchesblock__name {
    font-size: 16px;
  }

  .contactsblock__content {
    padding-left: 30px;
  }

  .contactsblock__header {
    flex-wrap: wrap;
  }

  .footer__phone a,
  .contactblock__phone a {
    white-space: nowrap;
    font-size: 20px;
  }

  .header__callback .btn_main {
    padding: 0 30px;
    font-size: 16px;
    height: 48px;
    line-height: 48px;
  }

  .logo a {
    display: block;
    width: 170px;
  }
}

.mobilemenu {
  display: none;
}

@media (max-width: 767px) {
  .mobilemenu {
    display: block;
    width: 30px;
  }

  .header .dflex-between {
    flex-wrap: wrap;
  }

  h2 {
    font-size: 26px;
    line-height: 1.3;

    br {
      display: none;
    }
  }

  .fitchesblock__header {
    flex-wrap: wrap;
  }

  .fitchesblock__item {
    width: 100%;
  }

  .fitchesblock {
    padding: 30px 0;
  }

  .fitchesblock__header>div {
    margin-left: 0;
    width: 100%;
  }

  .fitchesblock__icon {
    width: 40px;
  }

  .fitchesblock__wrapper {
    padding: 25px;
  }

  .contactsblock__map {
    position: relative;
    width: 100%;
  }

  .contactsblock__content {
    float: none;
    width: 100%;
  }

  .contactsblock__wrapper {
    display: block;
    height: initial;
  }

  .contactsblock__content {
    padding: 30px 0;
  }

  .contactsblock__header,
  .contactsblock__phones,
  .contactsblock__location {
    margin-bottom: 30px;
  }

  .footer__cols {
    flex-wrap: wrap;
  }

  .footer__col {
    width: 100%;
    margin-bottom: 30px;
  }

  .footerinfo__dev {
    margin-top: 20px;
  }

  .footer {
    padding: 40px 0;
  }

  .contactsblock__map {
    height: 200px;
    left: unset;
    bottom: unset;
    top: unset;
    right: unset;
  }

  .aboutblock__cols {
    display: block;
  }

  .aboutblock__left {
    width: 100%;
  }

  .aboutblock__right {
    width: 100%;
  }

  .aboutblock__wrapper {
    background: #fe7933;
    padding: 30px 0;
  }

  .cardsblock__item {
    width: 100%;
  }

  .cardsblock__items {
    flex-wrap: wrap;
  }

  .cardsblock {
    margin-bottom: 0;
  }

  .cardsblock__wrapper {
    top: 0;
    height: initial;
  }

  .aboutblock__left {
    margin-bottom: 40px;
  }

  .aboutblock__left * {
    color: #fff;
  }

  .aboutblock__title {
    margin-bottom: 30px;
  }

  .aboutblock__text p {
    color: #fff;
  }

  .aboutblock__text {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .aboutstats__header {
    margin-bottom: 40px;
  }

  .fitchesblock__header>div {
    margin-right: 0;
    font-size: 15px;
    line-height: 1.3;
  }

  .mainblock__wrapper {
    height: initial;
  }

  .mainblock__title h1 {
    font-size: 22px;
    line-height: 1.3;
  }

  .mainblock__nav {
    display: none;
  }

  .mainblock__nav_mobile {
    display: none;
    top: 0;
    background: #000;
    top: 0;
    width: 100%;
    z-index: 9;
    padding: 10px 15px;

    ul {
      display: block;
      padding-left: 0;
      padding-top: 15px;
    }

    li {
      margin-bottom: 20px;
      list-style: none;
    }

    a {
      font-size: 15px;
    }

  }

  .mainblock__text {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.3;

    br {
      display: none;
    }
  }

  header#header {
    padding: 15px 0;
  }

  .mainblock__content {
    padding-top: 130px;
  }

  .header__content>* {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .header .dflex-between {
    justify-content: center;
  }

  .header__callback .btn_main {
    font-size: 12px;
    height: 38px;
    line-height: 38px;
    padding: 0 10px;
  }

  .contactblock__phone a,
  .footer__phone a {
    font-size: 14px;
  }

  .contactblock__phone {
    margin-bottom: 0;
  }

  .contactblock__mail a {
    font-size: 12px;
  }

  .contactblock {
    padding-left: 0;
    background-image: none;
  }

  .logo a {
    width: 100px;
  }

  header#header .header__info {
    width: initial;
  }

  .header__contacts {
    text-align: center;
  }

  .aboutstats {
    padding-left: 0;
  }

  .aboutstats__item {
    margin-bottom: 35px;
  }

  .aboutblock__wrapper {
    padding: 45px 0;
  }

  .aboutblock__slider {}

  .shapeslider__right {
    right: -40px;
  }

  .shapeslider__left {
    left: -40px;
  }

  .mainblock__link a {
    bottom: 0;
    margin-top: 30px;
    position: relative;
  }

  .header .logo {
    display: none;
  }

  .modal-body {
    padding: 0;
  }

  .modal-content {
    padding: 25px 10px;
  }

  .modal-title {
    font-size: 22px;
  }

}


.page {
  padding-top: 144px;
}

.page_white {
  background: #fff;
}



.pageheader_catalog {
  display: flex;
}

.pageheading {
  padding: 20px 0;
}

.breadcrumbs {
  margin: 30px 0;

  ul {
    @include clear-list;

    li {
      position: relative;
      padding-right: 12px;
      margin-right: 5px;
      display: inline-block;
      list-style: none;

      a {
        &:after {
          content: "-";
          position: absolute;
          right: 0;
          top: 1px;

        }

        span {
          text-decoration: none;
          color: #999999;
        }

        &:hover {
          span {
            text-decoration: underline;
            color: #005EC0;
          }
        }

      }

      span {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        /* identical to box height, or 133% */
        text-align: right;
        /* black/40 */

        text-decoration: underline;
        color: #005EC0;
      }
    }
  }
}

.catalogcards {}

.catalogcards__items {
  display: flex;
}

.catalogcards__item {
  flex: 1 1 0px;
  border-right: 1px solid #E6E6E6;
}

.catalogcard {
  padding: 50px 40px;
  height: 100%;

  &:hover {
    .catalogcard__image img {
      transform: scale(1.1);
      transition: all .2s ease-in-out;
    }
  }
}

.catalogcard__wrapper {
  height: 100%;
  position: relative;
  padding-bottom: 40px;

}

.catalogcard__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  /* or 125% */
  margin-bottom: 8px;

  /* black/black 100 */

  color: #000000;
}

.catalogcard__info {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  /* black/60 */

  color: #666666;
}

.catalogcard__image {
  margin-bottom: 20px;

  img {
    margin-left: -20px;
  }


}

.catalogcard__link {
  position: absolute;
  bottom: 0;
  left: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */


  /* black/80 */

  color: #333333;

  img,
  span {
    display: inline-block;
    vertical-align: middle;
  }

  span {
    padding-left: 10px;
  }

  &:hover {
    span {
      color: $blue;
    }
  }
}

.page h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 100%;
  /* or 36px */


  /* black/black 100 */

  color: #000000;
}

.catalogcard__header {
  min-height: 87px;
  margin-bottom: 23px;
}

.pageheader_catalog {
  >* {
    border-right: 1px solid #E6E6E6;
  }

  >:last-child {
    border-right: none;
  }

  .pageheading {
    max-width: 285px;
  }
}


.pagefilter {
  background: #F2F2F2;
  box-shadow: inset 0px -10px 100px rgba(0, 0, 0, 0.03);
  padding: 50px 0;
}

.filter {}

.filter__wrapper {}

.filter__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.filter__leftside {
  display: flex;
  align-items: center;
}

.filter__title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  /* identical to box height, or 125% */
  margin-right: 40px;

  /* black/black 100 */

  color: #000000;
}

.filter__tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.filtertag {
  background: #E6E6E6;
  border-radius: 20px;
  padding: 8px 16px 10px 16px;
  line-height: 1;

  span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    line-height: 1;
    /* black/80 */

    color: #333333;
  }

  img {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
  }
}

.filter__rightside {}

.filter__reset {}

.resetbtn {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */
  display: block;
  padding-right: 38px;

  /* Blue/1 */

  color: #005EC0;
  background-image: url(../img/sync.svg);
  background-position: right 11px center;
  background-repeat: no-repeat;

  &:hover {
    color: #000;
  }
}

.filter__main {
  margin-bottom: 15px;
}

.filter__items {
  display: flex;
  align-items: center;
  margin: 0 -15px;

}

.filter__item {
  flex: 1 1 0px;
  padding: 0 15px;

  * {
    width: 100%;

  }
}

.select {
  width: 100%;
}

select {
  padding: 0 20px;
  background: #F2F2F2;
  height: 50px;

  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;

  background-image: url(../img/select.svg);
  background-position: right 20px center;
  background-repeat: no-repeat;
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
}

.btn_primary {
  display: inline-block;

  max-width: 320px;
  background-color: #005EC0;
  border-radius: 4px;
  height: 50px;
  line-height: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  padding: 0 32px;
  vertical-align: middle;
  color: #FFFFFF;
  border: none;
  transition: all 0.3s ease;
  margin-bottom: 10px;
  margin-right: 5px;

  &:hover,
  &:focus {
    background-color: $blue2;
    color: #fff;
  }
}


.catalog {
  padding: 45px 0;
}

.catalog__header {
  margin-bottom: 26px;
}

.catalog__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.catalog__info {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  color: #666666;
}

.catalog__sort {}

.sort {
  display: flex;
  align-items: center;
}

.sort__caption {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */


  /* black/black 100 */
  margin-left: 20px;
  color: #000000;
}

.sort__items {
  display: flex;
  align-items: center;
}

.sort__item {
  margin-left: 20px;
}

.sortbtn {
  background: #F2F2F2;
  border-radius: 20px;
  display: block;
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  padding: 8px 43px 10px 16px;
  text-align: right;

  /* black/40 */

  color: #999999;

  &.sortbtn_active {
    color: $blue;
  }

  &.sortbtn__asc:after {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    right: 15px;
    top: calc(50% - 6px);
    background-image: url('../img/sortbtn__asc.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  &.sortbtn__desc:after {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    right: 15px;
    top: calc(50% - 6px);
    background-image: url('../img/sortbtn__asc.svg');
    transform: rotate(180deg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &.sortbtn_active:after {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    right: 15px;
    top: calc(50% - 6px);
    background-image: url('../img/sortbtn__asc-active.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  &.sortbtn_active.sortbtn__desc:after {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    right: 15px;
    top: calc(50% - 6px);
    background-image: url('../img/sortbtn__asc-active.svg');
    transform: rotate(180deg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.catalog__main {}

.products {}

.products__items {
  display: flex;
  margin: 0 -15px;
  flex-wrap: wrap;
}

.products__item {
  width: 50%;
  padding: 0 15px;
  height: 100%;
  margin-bottom: 30px;
}

.productcard {
  height: 100%;
}

.productcard__wrapper {
  display: flex;
  height: 100%;
  background: #FFFFFF;
  filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, 0.02));
  border-radius: 4px;
}

.productcard__leftside {
  height: 100%;
}

.productcard__image {
  height: 100%;
}

.productcard__img {
  width: 268px;
  height: 100%;
}

.productcard__rightside {
  height: 100%;
}

.productcard__content {
  padding: 24px 30px;
}

.productcard__title {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* or 125% */


  color: #000000;
  margin-bottom: 20px;
}

.productcard__params {
  margin-bottom: 20px;
}

.productcard__param {
  background: #F8F8F8;
  border-radius: 4px;
  margin-bottom: 4px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productcard__paramleft {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.productcard__paramright {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: right;

  color: #000000;
}

.productcard__buttons {
  display: flex;
}

.productcard__link {
  margin-right: 10px;
}

.pageheading {
  padding-bottom: 48px;
}

.btn_primary {}

.btn_arrow {}

.productcard__price {}

.btn_border {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  text-align: center;
  display: block;
  /* black/80 */
  height: 40px;
  line-height: 40px;
  color: #333333;
  border: 1px solid #005EC0;
  box-sizing: border-box;
  border-radius: 4px;

  &:hover,
  &:focus {
    background-color: $blue;
    color: #fff;
  }
}

.btn_arrow {
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  padding-right: 46px;
  background-image: url('../img/right-arrow.svg');
  background-position: right 20px center;
  background-repeat: no-repeat;

  &:hover,
  &:focus {
    background-image: url('../img/right-arrow.svg');
    background-position: right 20px center;
    background-repeat: no-repeat;
  }
}

.black {
  color: #000;
}

.catalog__footer {}

.catalog__nav {}

.catalog__info {}

.black {}

.catalog__showmore {}

.btn_gray {
  height: 50px;
  line-height: 50px;
  background: #E6E6E6;
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  width: 320px;
  max-width: 100%;
  display: inline-block;

  color: #000000;
}

.catalog__up {
  padding: 0 30px;
}

.btn_showmore {
  span {
    background-image: url('../img/arrow-forward.svg');
    background-position: right 0 center;
    background-repeat: no-repeat;
    padding: 0 36px;
    display: block;
    width: min-content;
    white-space: nowrap;
    text-align: center;
    margin: auto;
  }

}

.catalog__up {}

.scrollup {}

.scrollup__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */

  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
  /* black/40 */

  color: #999999;

}

.catalog__main {
  margin-bottom: 20px;
}

.catalog__footer {
  padding: 20px 0
}

.catalog {
  padding-bottom: 70px;
}

.scrollup__img {
  display: inline-block;
  vertical-align: middle;
  width: 48px;
  height: 48px;
  background: #F2F2F2;
  border-radius: 16px;
  text-align: center;
  line-height: 48px;
  transition: all 0.3s ease;

  &:hover {
    background: #e6e6e6;
  }
}

.catalogcards__item {
  width: 33.333333%;
}

.catalogcard__image img {
  max-width: 100%;
}

.btn_primary {
  white-space: nowrap;
}

.btn_phone {
  padding: 0 32px;
  height: 54px;
  line-height: 54px;

  span {
    background-image: url('../img/callback.svg');
    background-position: left center;
    display: block;
    padding-left: 40px;
    background-repeat: no-repeat;
  }

}

.layout_column {
  display: flex;

  .layout_left {
    width: 284px;

    .pageheading {
      padding-right: 20px;
    }
  }

  .layout_right {
    width: calc(100% - 284px);
    padding: 44px 40px;
    border-left: 1px solid #E6E6E6;
  }

  .pageheader {
    background: none;
  }
}

.detailtext {
  h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */

    margin-bottom: 20px;
    /* black/80 */

    color: #333333;
  }

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    /* or 200% */


    /* black/black 100 */

    color: #000000;
    margin-bottom: 40px;
  }

  ul {
    margin-left: 0;
    padding-left: 0;
    column-count: 2;
    margin-bottom: 40px;

    li {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      /* or 171% */
      padding-left: 0px;
      margin-left: 20px;
      list-style: disc;
      margin-bottom: 20px;
      /* black/80 */
      padding-right: 20px;
      color: #333333;
    }
  }

  blockquote {
    background: #FFFFFF;
    box-shadow: inset 2px 0px 0px #005EC0;
    border-radius: 0px 0px 40px 0px;
    padding: 30px 40px;
    margin-bottom: 40px;
    border-left: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */


    /* black/black 100 */

    color: #000000;
  }
}

footer {
  margin-top: 50px;
}

.textphoto {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.textphoto__img {
  margin-right: 30px;
  width: 345px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;

}

.gallery__item {
  padding: 0 10px;
  width: 33.3333%;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: initial;
  height: initial;
}

.btn_message {
  padding: 0 32px;
  height: 50px;
  line-height: 50px;

  span {
    background-image: url('../img/message.svg');
    background-position: right center;
    display: block;
    padding-right: 40px;
    background-repeat: no-repeat;
  }
}



@media(max-width: 1170px) {
  img {
    max-width: 100%;
    max-height: 100%;
    width: initial;
    height: initial;
  }

  .productcard__img {
    width: 230px;
    overflow: hidden;
    text-align: right;
  }

  .productcard__img img {
    max-width: initial;
  }

  .productcard__img {
    display: flex;
    justify-content: flex-end;
  }

  .productcard__content {
    padding: 15px;
  }

  .catalogcard {
    padding: 30px;
  }

  .catalogcard__title {
    font-size: 20px;
    line-height: 1.2;
  }

  .btn_border {
    padding: 0 20px;
  }

  .footer__phone a {
    white-space: nowrap;
  }

  .btn_arrow {
    padding-right: 35px;
  }
}


@media(max-width: 1023px) {
  .pageheader_catalog .pageheading {
    max-width: 100%;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
  }

  .pageheader_catalog {
    flex-wrap: wrap;
  }

  .catalogcards__items {
    width: 100%;
  }

  .catalogcards {
    width: 100%;
  }

  .products__item {
    width: 100%;
  }

  .productcard__img {
    width: 268px;
  }



  .filter__item {
    padding: 0 5px;
  }

  .filter__items {
    margin: 0 -5px;
  }

  .detailtext ul {
    column-count: 1;
  }

  .textphoto {
    flex-wrap: wrap;
  }

  .textphoto__img {
    margin-bottom: 20px;
    max-width: 100%;
    width: 100%;
  }

}

.filter__items {
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .header__callback {
    display: none;
  }

  .btn_phone {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
  }

  .catalogcards__item {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #e6e6e6;
  }

  .catalogcards__items {
    flex-wrap: wrap;
  }

  .filter__header,
  .filter__leftside {
    flex-wrap: wrap;
  }

  .filter__header {
    margin-bottom: 15px;
  }

  .filter__title,
  .filter__tags {
    margin-bottom: 15px;
  }

  .filter__item {
    width: 100%;
    margin-bottom: 10px;
    flex: initial;
  }

  .catalog__nav {
    display: block;
  }

  .sort {
    flex-wrap: wrap;
  }

  .sort__caption {
    margin-left: 0;
  }

  .sort__item {
    margin-left: 0;
  }

  .catalog__info {
    margin-bottom: 20px;
  }

  .productcard__wrapper {
    flex-wrap: wrap;
  }

  .productcard__leftside {
    width: 100%;
  }

  .productcard__wrapper {
    width: 268px;
    margin: auto;
  }

  .catalog__up {
    margin-top: 30px;
    text-align: right;
    padding-right: 0;
  }

  .catalogcards__item {

    width: 100%;
  }

  .pageheader_catalog .pageheading {
    border-right: none;
  }

  .catalogcard {
    min-width: 294px;
  }

  .page {
    padding-top: 80px;
  }

  .page h1 {
    font-size: 26px;
    line-height: 1.2;
  }

  .layout_column {
    flex-wrap: wrap;

    .layout_left {
      width: 100%;
    }

    .layout_right {
      width: 100%;
      border: none;
      padding: 30px 0;
    }
  }



}

@media (max-width: 480px) {
  .gallery__item {
    width: 50%;
    text-align: left;
    /*  flex: 1 1 0px; */
  }
}

.layout_half {
  @include container;
  display: flex;
  width: 100%;

  .layout_left {
    width: 50%;
    padding: 32px 30px 0 0;
  }

  .layout_right {
    width: 50%;
    padding: 0 0 32px 30px;
  }
}


.productimg__img_video {
  position: relative;
  /* padding-bottom: 56.25%;  */
  /* 16:9 */
  height: 0;
}

.productimg__img_video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.productimg_container {
  align-items: center;
  position: relative;
  max-width: 555px;
}

.products__options_right {
  right: 0;
  left: unset;
}

.productimg__img {
  width: 100%;
  height: 100%;
  position: relative;
  height: 430px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productimg__img img {
  margin: auto;
  left: -9999px;
  top: -9999px;
  bottom: -9999px;
  right: -9999px;
  position: absolute;
  max-width: initial;
}

.productimg__previews {
  display: flex;
  margin: 0 -11px;
}

.productimg__preview img {
  max-height: 131px;
}

#lightboxOverlay {
  position: fixed !important;
  top: 0;
  left: 0;
  height: 100% !important;
  width: 100% !important;
}

#lightbox {
  position: fixed !important;
  top: 50% !important;
  transform: translateY(-50%);
}

.productcard__top>a {
  display: block;
}

.productpage {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.productimg .productcard__options {
  max-width: 100%;
}

.productimg .productcard__wishlist {
  opacity: 1;
}

.productimg .productcard__options>div {
  margin-right: 10px;
}

.magnifier img {
  max-width: initial;
  max-height: initial;
  width: initial;
  height: initial;
}

.productmain__title h1 {
  font-size: 26px;
  color: rgb(62, 62, 62);
  line-height: 1.154;
  margin: 0 0 25px 0;
  font-weight: 500;
}

.productmain__title>div {
  font-size: 26px;
  color: rgb(62, 62, 62);
  line-height: 1.154;
  margin: 0 0 25px 0;
  font-weight: 500;
}

.productmain {
  padding-left: 20px;
  width: 430px;
}

.productmain__newprice {
  font-size: 24px;
  color: #242a72;
  line-height: 1.5;
  font-weight: bold;
  margin-right: 25px;
}

.productmain__oldprice {
  font-size: 16px;
  color: #919597;
  text-decoration: line-through;
  line-height: 2.25;
  font-weight: 500;
}

.productmain___prices {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.product__params a {
  color: #242a72;
  text-decoration: underline;
}

.info {
  font-size: 13px;
  color: #b4b9bc;
  padding-left: 23px;
  background-image: url(/images/info.png);
  background-position: top left;
  background-repeat: no-repeat;
  min-height: 20px;
  padding-top: 2px;
  margin: 10px 0;
}

.sizeblock__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -3px;
}

.productmain__buy {
  margin: 20px 0;
}

.productcard_add_product {
  justify-content: flex-start;
}

.productcard_add_product>* {
  margin-right: 10px;
}

#lightboxOverlay {
  position: fixed !important;
  top: 0;
  left: 0;
  height: 100% !important;
  width: 100% !important;
}

#lightbox {
  position: fixed !important;
  top: 50% !important;
  transform: translateY(-50%);
}

.productimg__prev {
  height: 84px;
  width: 84px;
  display: inline-block;
  align-items: center;
  border: 3px solid #fff;
  cursor: pointer;
  vertical-align: middle;
  margin: 0 4px;
}

.productimg__preview {
  width: 170px;
  margin: 0 11px;
  height: 131px;
  display: inline-block;
  align-items: center;
  cursor: pointer;
  vertical-align: middle;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  transition: all 0.3s ease;
  overflow: hidden;
}

.productimg__img iframe {
  max-width: initial;
  max-height: initial;
  width: 100%;
  height: 100%;
}

.productimg__img video {
  max-width: initial;
  max-height: initial;
  width: 100%;
  height: 100%;
}

.productimg__preview img {
  max-width: 170px;
  margin: auto;
}

.productimg__thumb {
  position: relative;
}

.productimg__zoom {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  cursor: pointer;
}

.productimg__zoom svg {
  height: 15px;
  width: 15px;
}

.productcard__options {
  width: initial;
}

.productimg__preview .productimg__previewvideo {
  max-width: 170px;
  margin: auto;
}

.productimg__previewvideo {
  position: relative;
}

.productimg__previewvideo span {
  margin: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  color: #333333;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px 4px 28px;
  position: absolute;
  width: 76px;
  height: 28px;
  left: 9px;
  bottom: 12px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 100px;
  background-image: url('../img/play-circle-filled.svg');
  background-repeat: no-repeat;
  background-position: left 5px center;
}

.productimg__previewvideo svg {
  width: 40px;
  height: 40px;
}

.productimg__previewvideo svg path {
  fill: #fff;
}

.productimg__previews {
  display: block;
}

.productimg__previewscontainer {
  width: 100%;
}

.productimg__previewscontainer .slick-track {
  display: flex;
  justify-content: space-between;
}

.productimg__images {
  margin-bottom: 15px;
}

.productimg__arrow {
  width: 32px;
  height: 32px;
  top: 229px;
  background: #FFFFFF;
  opacity: 0.5;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.productimg__arrow:hover {
  opacity: 0.85;
}


.productimg__arrow_left {
  position: absolute;
  left: 20px;
  top: 200px;
}

.productimg__arrow_right {
  position: absolute;
  right: 20px;
  top: 200px;
}

/* .productimg__preview.slick-active:last-of-type .productimg__thumb{
  background: rgba(255,255,255, 0.6);
} */

.slick-arrow.slick-disabled {
  opacity: 0;
}

.productinfo {
  margin: 0 0 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productbuttons {
  margin: 0 0 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    margin: 0;
  }

  .btn_primary {
    flex: 1;
  }
}

.layout_half {
  .layout_left {
    border-right: 1px solid #E6E6E6;
    ;
  }

  .layout_right {
    .pageheading {
      padding-bottom: 20px;
    }
  }
}

.productparams {
  .productcard__param {
    background: #F2F2F2;
    border-radius: 4px;
    margin-bottom: 4px;
    padding: 8px 16px;
  }

  .productcard__paramleft {
    font-size: 14px;
    line-height: 18px;
    color: #666666;
  }

  .productcard__paramright {
    font-size: 14px;
    line-height: 18px;

  }
}

.expand {
  background-image: url('../img/expand.svg');
  background-position: right center;
  background-repeat: no-repeat;
  padding: 5px 26px 5px 9px;
  /* identical to box height, or 129% */

  text-align: right;
  display: block;
  /* black/40 */

  color: #999999;
  text-align: right;
}


.el_hidden {
  display: none;
}

.offer a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  white-space: nowrap;

  background: #F2F2F2;
  border-radius: 4px;
}

.offers__name {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  margin-left: 10px;
  text-decoration-line: underline;
  color: #666666;
}

.offer a:hover .offers__name {
  text-decoration: none;
}

.offers__items {
  display: flex;
  align-items: center;
  margin: 0 -5px;
}

.offers__item {
  padding: 0 5px;
  flex: 1;
}

.offers__icon {
  width: 20px;
}

.productparams {
  margin-bottom: 30px;
}

.subtitle {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  color: #333333;
}

.productimg {
  margin-bottom: 30px;
}


.productmain {}

.producttabs {}

.producttabs__header {
  background: #F2F2F2;
  position: relative;

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    li {
      font-style: normal;
      white-space: nowrap;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      /* identical to box height, or 125% */
      cursor: pointer;

      /* black/60 */
      padding: 20px;
      color: #666666;
    }

    li.active {
      color: #000000;
      background: #E6E6E6;
    }
  }
}

.producttabs__header:after {
  content: "";
  height: 100%;
  right: -30px;
  position: absolute;
  top: 0;
  width: 1000px;
  /* z-index: 99; */
  background: #f2f2f2;
  z-index: -1;
}

.producttabs__main {}

.producttabs__content {}

.description {
  padding: 40px 20px;

  ul {
    column-count: 1;

    li {
      margin-bottom: 10px;
    }
  }

  h2,
  h3,
  h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
    margin-top: 0;
    margin-bottom: 20px;

    /* black/80 */

    color: #333333;
  }

}

.detailtext {}

.js-tabs-contents {
  display: none;


}


.js-tabs-contents.active {
  display: block;
}

.blockheader {
  background: #F2F2F2;
  padding: 17px 0 19px 0;

  h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
    margin: 0;
    text-align: left;

    /* black/80 */

    color: #333333;
  }
}

.related {}

.related__container {
  position: relative;
  padding: 44px 0 70px 0;
}

.related__slider {
  margin: 0 -15px;
}

.related__slide {
  padding: 0 15px;
}

.productcard {}

.sliderarrow {
  width: 32px;
  height: 32px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  background: #FFFFFF;
  border-radius: 100px;
}

.sliderarrows {
  position: absolute;
  right: 0;
  top: -45px;
  display: flex;
  align-items: center;
}

.sliderarrow.slick-arrow.slick-disabled {
  opacity: 0.9;
}

.sliderarrow.slick-arrow.slick-disabled img {
  opacity: 0.45;
}

/* .productcard__img {
  position: relative
} */

.productcard__img img {
  display: block;
  position: absolute;
  max-width: initial;
  width: initial;
  /* left: 0; */
  /* bottom: 0; */
  height: 100%;
}

@media (max-width: 767px) {
  .productcard__img img {
    position: initial;
  }
}


.js-productslider {
  .slick-dots {
    display: flex;
    bottom: -36px;
    margin: 0 -5px;
    width: 100%;
  }

  .slick-dots li {
    flex: 1;
    height: 4px;
    padding: 0 5px;
    margin: 0;
  }

  .slick-dots li button {
    width: 100%;
    height: 4px;

    background: #E6E6E6;
    padding: 0;

  }

  .slick-dots li.slick-active button {
    background: #337DCA;
  }

  .slick-dots li button:before {
    display: none;
  }

}

.blockheader h2 {
  padding-right: 90px;
}

@media (max-width: 1200px) {
  .productbuttons .btn_primary {
    margin-right: 10px;
  }

  .productcard__img img {
    position: initial;
  }

  .productimg__preview img {
    max-width: 100%;
  }

  .productimg__preview {
    height: initial;
    padding: 0 11px
  }

  /* .js-productslider .productcard__img {
    width: 200px;
  } */
}


@media (max-width: 1023px) {
  .layout_half {
    flex-wrap: wrap;

    .layout_left {
      width: 100%;
      order: 2;
      border: none;
      padding: 0 0 30px 0;
    }

    .layout_right {
      width: 100%;
      order: 1;
      border: none;
      padding: 0 0 30px 0;
    }
  }

  .productimg_container {
    margin: auto;
  }

  .productbuttons {
    justify-content: flex-start;
  }
}

@media (max-width: 767px) {
  .offers__items {
    flex-wrap: wrap;
  }

  .offers__item {
    width: 100%;
    margin: 0 0 10px 0;
  }

  .producttabs__header ul {
    flex-wrap: wrap;

    li {
      width: 100%;
    }
  }

  .productbuttons {
    flex-wrap: wrap;
    justify-content: flex-start;

    a {
      width: 100%;
      margin: 0 0 15px 0 !important;
      max-width: 100%;
    }
  }

  .productimg__img {
    height: 230px;
  }

  .productimg__arrow_left,
  .productimg__arrow_right {
    top: 110px;
  }

  .producttabs__header ul li {
    padding: 10px;
  }

  .producttabs__header:after {
    display: none;
  }

  .description {
    padding: 15px 0;
  }

  .detailtext p,
  .description ul li,
  .description * {
    line-height: 1.5;
  }

  .blockheader h2 {
    font-size: 14px;

  }

  .breadcrumbs {
    margin: 10px 0;
  }

  .page h1 {
    font-size: 20px;
  }

  .mobilemenu {
    margin-left: 0 !important;
    margin-bottom: 0 !important;
  }
}